<header class="navbar-sombra">
    <div class="logo">
        <img src="..\..\assets\incons\jornada escula normal.png" alt="Logo Jornada escolar" />
        <img src="..\..\assets\images\barondelsol.png" alt="Logo baron del sol" />
    </div>

    <nav class="nav-links">
      <ul>
        <li><a href="../../index.html">Inicio</a></li>
        <li class="menu_1">
          <a href="#">Programa</a>
          <ul class="menu_desplegable">
            <li><a href="../../pages/nosotros.html">Nosotros</a></li>
            <li><a href="../../pages/colegios.html">Colegios</a></li>
            <li><a href="../../pages/sedes.html">Sedes</a></li>
          </ul>
        </li>
        <li class="menu_2">
          <a href="#">Información</a>
          <ul class="menu_desplegable">
            <li><a href="../../pages/equipos.html">Equipos</a></li>
            <li><a href="../../pages/reglas.html">Reglas</a></li>
            <li><a href="../../pages/noticia.html">Noticias</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>