<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../components/footer/assets/css/style.css">
</head>
<body>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
            <img src="..\..\assets\incons\jornada escula normal.png" alt="Logo Jornada escolar" />
            <img src="..\..\assets\images\barondelsol.png" alt="Logo baron del sol" />
          <p>Copa de Soñadores © 2025</p>
        </div>
        <div class="footer-links">
          <a href="../../index.html">Inicio</a>
          <a href="../../pages/reglas.html">Reglamento</a>
          <a href="../../pages/noticia.html">Noticias</a>
          
        </div>
        <div class="footer-redes">
          
        </div>
      </div>
  </footer>
</body>
</html>